/* 
body{
    background-image: url('//imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg3.jpg');
} */

.container{
  display:flex;
  gap:10px;
  align-items:center;
}

.container input,
.container .MuiFormControl-root{
  width:220px;
  height:56px;
}